<div id="side-nav-container">
  <nav id="side-nav">
    <ul>
      <li><a href="/dashboard/">Dashboard</a></li>
      <li><a href="/transactions/">Transactions</a></li>
      <li><a href="/transactions/new">Add Transaction</a></li>
      <li id="financial-profile"><a href="/profile">Financial Profile</a></li>
      <li><a href="/goals/">Goals</a></li>
    </ul>
  </nav>
</div>
