<div id="side-nav-container">
  <nav id="side-nav">
    <ul>
      <li>
        <img src="/images/icons/dashboard.svg" />
        <a href="/dashboard/">Dashboard</a>
      </li>
      <li>
        <img src="/images/icons/transactions.svg" /><a href="/transactions/"
          >Transactions</a
        >
      </li>
      <li>
        <img src="/images/icons/add.svg" /><a href="/transactions/new"
          >Add Transaction</a
        >
      </li>
      <li id="financial-profile">
        <img src="/images/icons/profile.svg" /><a href="/profile"
          >Financial Profile</a
        >
      </li>
      <li><img src="/images/icons/goals.svg" /><a href="/goals/">Goals</a></li>
    </ul>
  </nav>
</div>
