<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dime</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/landing-page.css" />
  </head>
  <body>
    <nav>
      <a href="/auth/google">Log in</a>
      <a class="sign-up" href="/auth/google">Sign Up</a>
    </nav>
    <main>
      <div id="first-section">
        <div>
          <h1>Welcome to dime.</h1>
          <h6>Start saving towards the things you want in life</h6>
          <a class="sign-up" href="/auth/google">Get Started</a>
        </div>

        <div>
          <img src="images/piggy.png" />
        </div>
      </div>

      <div id="second-section"></div>
    </main>
  </body>
</html>
